#top {
    font-size: 20px;
    text-align: center;
    margin: auto;
}
#top a{
    color: darkblue;
    text-decoration: none;
}

#mid {
}

#bot {
    text-align: center;
}

.flex-container {
    display: flex;
}

.flex-container div {
    background: darkgray;
    border: 4px solid darkblue;
    flex: 1;
}
.home {
}
.home img {
    width: 100%;
}